<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Rodadamx</title>
    </head>

    <body>
        <header>
            <div class="top-header">
                <section class="logo">
                    <!--Agrega Logo-->
                </section>
                <nav class="login">
                    <ul>
                        <li><a href = "#"></a>Mi carrito</li>
                        <!-- Insertar logo del carrito. 
                        cambio por el de Ayuda -->
                        <li><a href = "#"></a>Registro</li>
                        <li><a href = "#"></a>Iniciar sesión</li>
                    </ul>
                    <div class="navbar">
                        <input type="text" placeholder="Buscar">
                    </div>
                </nav>
            </div>
            <div class="bottom-header">
                <nav class="product-list">
                    <ul>
                        <li><a href="#"></a>Nuevos productos</li>
                        <li><a href="#"></a>Bicicletas</li>
                        <li><a href="#"></a>Bamboocycles</li>
                        <li><a href="#"></a>Patines</li>
                        <li><a href="#"></a>Patinetas</li>
                        <li><a href="#"></a>Accesorios</li>
                        <li><a href="#"></a>Rebajas</li>
                    </ul>
                </nav>
                <div>
                    <!--sección para el la imagen o carrusel -->
                </div>
            </div>  
        </header>
        
        <main>
            <div class="new-products">
                <h4><a href="#"></a>Nuevos productos</h4>
                <article class="main-article">
                    <section>
                        <!-- imagen del producto -->
                    </section>
                    <p class="description">
                        Descripción breve
                    </p>
                </article>
                <article class="main-article">
                    <section>
                        <!-- imagen del producto -->
                    </section>
                    <p class="description">
                        Descripción breve
                    </p>
                </article>
                <article class="main-article">
                    <section>
                        <!-- imagen del producto -->
                    </section>
                    <p class="description">
                        Descripción breve
                    </p>
                </article>
            </div>
            <div class="commonly">
                <h4>Los más buscados</h4>
                <div class="transport">
                    <h3><a href="#"></a>Transporte</h3>
                    <!-- Carrusel o imagen -->
                </div>
                <div class="accesories">
                    <h3><a href="#"></a>Accesorios</h3>
                    <!-- Carrusel o imagen  -->
                </div>
            </div>
        </main>
        <section class="sale">
            <h4><a href="#"></a> Rebajas</h4>
             <!-- Carrusel o imagen  -->
        </section>
        <footer>
            <div class="solicitude">
                <h4>Atención al cliente</h4>
                <nav>
                    <ul>
                        <li><a href="#"></a>Sobre nosotros</li>
                        <li><a href="#"></a>Formas de pago</li> 
                        <li><a href="#"></a>Envios y devoluciones</li> 
                        <li><a href="#"></a>Garantía</li>
                        <li><a href="#"></a>Aviso de Privacidad</li>
                        <li><a href="#"></a>Términos y Condiciones</li>
                    </ul>
                </nav>
            </div>
            <div class="contact">
                <h4>Contacto</h4>
              <ul class="contact-list">
                  <li>Centro CDMX CP:34192</li>
                  <li>Lunes a Viernes de 10:00 a 19:00 hrs.</li>
                  <li>Sábados de 10:00 a 19:00 hrs.</li>
                  <li>Hacemos envíos a todo México</li>
                  <li><a href="#">rodadamx.com</a></li>
              </ul>
            </div>
        </footer>
    </body>
    
</html>