<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Rodadamx</title>
        <meta name= "viewport" content="width = device-width, initial-scale= 1">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/login.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
        <link href="//db.onlinewebfonts.com/c/8d65e04904a1582f7e49f29c82eeda2d?family=Atlas+Grotesk+Web+Bold" rel="stylesheet" type="text/css"/>
        <link href="//db.onlinewebfonts.com/c/43372a4ce8dc3abbca31595815be7cf3?family=Atlas+Grotesk+Web+Light" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="bottom-header"> 
                    <section class="logo">
                        <img src="/img/logo.svg" alt="logo-rodadamx">
                    </section>
                    <div class="navbar">
                        <i class="fas fa-search"></i><input type="text" placeholder="  Buscar">
                    </div>
                </div>
                <nav class="login">
                    <ul class="login-1">
                        <li><a href = "#"><i class="fas fa-shopping-cart"></i></a>|</li>
                        <li><a href = "#"><i class="fas fa-sign-in-alt"></i></a>|</li>
                        <li><a href = "#"><i class="fas fa-portrait"></i></a>|</li>
                    </ul>
                    <ul class="login-2">
                        <li><a href = "#">Mi carrito<i class="fas fa-shopping-cart"></i></a></li>
                        <li><a href = "#">Registro<i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href = "#">Iniciar sesión<i class="fas fa-portrait"></i></a></li>
                    </ul>
                </nav>
               
            </div>
            <div class="products">
                <nav class="product-list">
                    <ul>
                        <li><a href="#"></a>Nuevos productos</li>
                        <li><a href="#"></a>Bicicletas</li>
                        <li><a href="#"></a>Bamboocycles</li>
                        <li><a href="#"></a>Patines</li>
                        <li><a href="#"></a>Patinetas</li>
                        <li><a href="#"></a>Accesorios</li>
                        <li><a href="#"></a>Rebajas</li>
                    </ul>
                </nav>
            </div>  
        </header>
        <main class="login">
            <div class="profile-logo">
            <i class="fas fa-user-circle"></i>
            </div>
            <h3>¿No eres miembro?<a class="register" href="#">Regístrate</a></h3>
            <div class="main-form">
                <form action="/" method="POST">
                    <input type="email" name="email-user" placeholder="   Email" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" required>
                    <input type="password" name="pass" placeholder="  Contraseña" required>
                    <button class="sign-in" type="submit">Ingresa</button>
                
                </form>
                <a class="recover-password" href="#">Olvidaste tu contraseña</a>
            </div>
        </main>
        <footer>
            <div class="social-bar">
                <ul>
                    <li><a href="#" class="rod-twitter"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#" class="rod-facebook"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#" class="rod-pinterest" ><i class="fab fa-pinterest-square"></i></a></li>
                    <li><a href="#" class="rod-instagram"><i class="fab fa-instagram-square"></i></a></li>
                </ul>
            </div>
            <div class="color">
            <img src="/img/logo.svg" alt="logo">
            <div class="solicitude">
                <h4 class="client-attention">Atención al cliente</h4>
                <nav>
                    <ul class="info">
                        <li><a href="#"></a>Sobre nosotros</li>
                        <li><a href="#"></a>Formas de pago</li> 
                        <li><a href="#"></a>Envios y devoluciones</li> 
                        <li><a href="#"></a>Garantía</li>
                        <li><a href="#"></a>Aviso de Privacidad</li>
                        <li><a href="#"></a>Términos y Condiciones</li>
                    </ul>
                </nav>
            </div>
            <div class="contact">
                <h4 class="contacto">Contacto</h4>
                <ul class="contact-list">
                  <li>Centro CDMX CP:34192</li>
                  <li>Lunes a Viernes de 10:00 a 19:00 hrs.</li>
                  <li>Sábados de 10:00 a 19:00 hrs.</li>
                  <li>Hacemos envíos a todo México</li>
                  <li><a href="#">rodadamx.com</a></li>
              </ul>
            </div>
            </div>
        </footer>
    </body>
</html>