<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <section class="banner">
            <img src="images/banner.png" alt="Banner de ofertas">
        </section> 
    </header>
    <main>
  
        <form class="form" action="/" method="GET">
           <div class="carrito_compras">
            <div class="detalle1">   

                <h1>CARRITO DE COMPRAS</h1>
                <hr><br>
                <div class="detalle1_1">
                
                    <div class="imagen"><img src="../images/bicicleta.JPG"></div>
                
                <div class="descripción">
                    <h2>14 rayos lanza la nueva linea de bicicleta 7000 bambú</h2>
                </div>
                <div class="cantidad">
                    <h3>Cantidad  </h3> <br><br>
                    <select name="select">
                        <option value="value1" selected>1</option>
                        <option value="value2" >2</option>
                        <option value="value3">3</option>
                      </select>
                </div>
                </div>
 
            </div>
            <div class="detalle2" >  <h1></h1><br><br>
                <div class="detalle2_2"> 
                <div class="suma">
                    <div class="Precio">Precio de lista:   $5,600.00</div><br>
                    <div class="subtotal">Subtotal         $5,600.00</div><br>
                    <div class="costo">Costo de envío</div><br>
                </div>
            </div>
           </div> 
           </div>
           <br>
           <div class="botones">
               <div class="eliminar">
                   <button type="submit">Eliminar</button>
                </div>
                <div class="continuar">
                    <button type="submit">continuar con la compra</button>
                </div>
            </div>
            <br>
            <div></div>
            
        </form>
    </main>
    <div class="redes">
       <p> Contáctanos<span> </span><i class="fab fa-facebook-square"></i><span> </span><i class="fab fa-youtube"></i></p>
    </div> 
    <footer>
    </div>
    <div class="row color">
      <div class="columna1" ><br><strong>Atención al cliente</strong><br>Sobre nosotros<br>Formas de pago<br>Envíos y devoluciones<br>Garantía<br>Aviso de Privacidad<br>Términos y condiciones</div>
      <div class="columna2" ><br><strong>Contacto</strong><br>Centro CDMX CP:34192<br>Lunes a Viernes de 10:00 a 19:00 hrs<br>Sábados de 10:00 a 18:00 hrs<br>Hacemos envíos a todo México</div>
      <div class="columna3" >Marca<br> 
    <section class="">
        <img src="images/logo.png" alt="Logo Marca">
    </section> </div>
    </div>
    </footer>
</body>
</html>