<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <section class="banner">
            <img src="images/banner.png" alt="Banner de ofertas">
        </section> 
    </header>
    <main>
        <center><h1>CREAR CUENTA</h1>
        </center>

        <form class="form" action="/" method="GET">
            <hr><br>
            <input type="text" name="name" placeholder="Nombre (s)"><br><br>
            <input type="text" name="user" placeholder="Apellido Paterno"><br><br>
            <input type="email" name="email" placeholder="Correo electrónico"><br><br>
            <input type="password" name="password" placeholder="Contraseña (8 caracteres mínimo)"><br>       
               <span>
                Al crear una cuenta, aceptas el <strong>Aviso de Privacidad</strong> , los <strong>Térmiminos y condiciones</strong>, así como el envío de noticias
                y promociones exclusivas. Puedes desactivar el envío de promociones desde
                el enlace incluido en cada correo.
               </span> 
             <br>
             <br>  
            <br>
            <button type="submit">Crear cuenta</button>
            <br>
            <br>
            <center><span>¿Ya tienes cuenta? <strong>Inicio sesión</strong></span></center>
            <br>
            <br>
        </form>
    </main>
    <div class="redes">
       <p> Contáctanos<span> </span><i class="fab fa-facebook-square"></i><span> </span><i class="fab fa-youtube"></i></p>
    </div> 
    <footer>
    </div>
    <div class="row color">
      <div class="columna1" ><br><strong>Atención al cliente</strong><br>Sobre nosotros<br>Formas de pago<br>Envíos y devoluciones<br>Garantía<br>Aviso de Privacidad<br>Términos y condiciones</div>
      <div class="columna2" ><br><strong>Contacto</strong><br>Centro CDMX CP:34192<br>Lunes a Viernes de 10:00 a 19:00 hrs<br>Sábados de 10:00 a 18:00 hrs<br>Hacemos envíos a todo México</div>
      <div class="columna3" >Marca<br> 
    <section class="">
        <img src="images/logo.png" alt="Logo Marca">
    </section> </div>
    </div>
    </footer>
</body>
</html>