p.description{
    display: block;
    margin: 5% 13% 0% 0%;
    font-family: 'Atlas Grotesk Web Light';
    font-size: 90%;
}

h3{
    color: #3ea23e;
    font-size: 100%
    mar
}

div.products{
    display: none;
}

div.product-details{
    margin-top: 30px;
}
div.main-article{
    text-align: center;
}
div.main-image{
    margin: 6px;
    text-align: center;
}

div.main-image img{
    width: 80%;
}
section.details-img{
    margin-left: 11%;
    display: flex;
    flex-direction: row;
}

section.details-img img{
    margin-left: 1%;
    display: flex;
    flex-direction: row;
    width: 19%;
}

section.part-1{
    margin-left: 11%;
    margin-top: 30px;
}
div.model{
    margin-top: 0%;
}

section.available-color{
    margin-bottom: 16px;
}

div.cost{
    margin: 5% 6% 120px 10%;
    display: flex;
    flex-direction: row;
}

section.buy-detail{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    align-items: flex-end;
    margin-left: -29px;
}
h3.cost{
    width: 48%;
    margin-left: 5px;
}

p.discount{
    font-family: 'Atlas Grotesk Web Bold';
    color: crimson;
    font-size: 128%
}
button.button-car{
    font-family: 'Atlas Grotesk Web Bold';
    background-color: #337CD3;
    color: white;
    border: solid;
    height: 59px;
    width: 146px;
    border-radius: 16px;
}

div.caracteristics{
    margin: 10px 0px 26px 39px;
    text-align: left;
    font-size: 13px;
    font-family: 'Atlas Grotesk Web Bold';
    color: #474747;
}

button.button-buy{
    font-family: 'Atlas Grotesk Web Bold';
    background-color: #3ea23e;
    color: white;
    border: solid;
    height: 59px;
    width: 146px;
    border-radius: 16px;
}
section.cards{
    margin: 10px 20px;
}
section.cards img{
    width: 50px;
}