*{
  box-sizing: border-box;
}
section.banner img{
    width: 100%;
    background-size: cover;
    height: 50%; 
}
.form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;    align-items: center;
  }
  
  .form input {
    width: 60%;
    height: 30px;
    margin: 0.5rem;
    border: 1px solid #d3d3d3;
    overflow: visible;
    border-radius: 4px;
  }
  .form span {
    width: 60%;
    height: 30px;
    margin: 0.5rem;
    text-align: justify;
    color: #929292;
  }
  
  .form button {
    padding: 1em 4em;
    border: none;
    background: rgb(61, 202, 96);
    cursor: pointer;
    box-shadow: grey;
  }
  div.redes p{
    width: 100%;
    background-size: cover;
    height: 100%; 
    background-color: #337cd3;
    color:#fff;
    display: inline-block;
    text-align: right;
  }
hr {
    width: 60%;
    height: 1px;
    background-color: #929292;
  }

.columna1  {
  float: left;
  width: 20%;
  padding: 10px;
  height: 300px; 
  text-align: center;
}

.columna3 {
  float: right;
  width: 20%;
  padding: 10px;
  height: 300px; 
}

.columna2 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; 
  text-align: center;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 600px) {
  .column {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

}
div.color {
  background-color: #FFFCE4;
}
div.redes {
  background-color: #337cd3;
}
.carrito_compras{
display:flex;
justify-content: space-around;
width: 100vw;
margin: 10%;

}
.detalle1{
  width: 70vw;
  margin-left: 10%;
  
}
.detalle1_1{
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.detalle1 div{
  display: flex;
}

.detalle2{
  width: 20vw;
  flex-direction: column;
  justify-content: center;
  border: 1px solid blue;
  margin-right: 10%;
  height: 20vh;
}
.producto div{
  display: block;
  flex-wrap: nowrap;
  flex-direction: column;
}
.precio {
  border: 1px solid blue;
}
.botones div{
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
}
.cantidad select{
  justify-content: space-around;
  height: 30%;
}
/* .detalle1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
  } */