<footer>
    <div class="social-bar">
        <ul>
            <li><a href="#" class="rod-twitter"><i class="fab fa-twitter-square"></i></a></li>
            <li><a href="#" class="rod-facebook"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="#" class="rod-pinterest" ><i class="fab fa-pinterest-square"></i></a></li>
            <li><a href="#" class="rod-instagram"><i class="fab fa-instagram-square"></i></a></li>
        </ul>
    </div>
    <div class="color">
    <img src="/img/logo.svg" alt="logo">
    <div class="solicitude">
        <h4 class="client-attention">Atención al cliente</h4>
        <nav>
            <ul class="info">
                <li><a href="#"></a>Sobre nosotros</li>
                <li><a href="#"></a>Formas de pago</li> 
                <li><a href="#"></a>Envios y devoluciones</li> 
                <li><a href="#"></a>Garantía</li>
                <li><a href="#"></a>Aviso de Privacidad</li>
                <li><a href="#"></a>Términos y Condiciones</li>
            </ul>
        </nav>
    </div>
    <div class="contact">
        <h4 class="contacto">Contacto</h4>
        <ul class="contact-list">
          <li>Centro CDMX CP:34192</li>
          <li>Lunes a Viernes de 10:00 a 19:00 hrs.</li>
          <li>Sábados de 10:00 a 19:00 hrs.</li>
          <li>Hacemos envíos a todo México</li>
          <li><a href="#">rodadamx.com</a></li>
      </ul>
    </div>
    </div>
</footer>